* {
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    font-weight: 700;
    color: #F0F0F0;
}

body {
    background-color: #080808;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #F0F0F0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 0 20px 0 20px;
    border-bottom: #1e1e1e solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(12px);
}

nav ul {
    list-style: none;
    color: #3b3b3b;
    display: flex;
    gap: 40px;
    list-style: none;
}

li a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3b3b3b;
    display: list-item;
    unicode-bidi: isolate;
    text-decoration: none;
}

.logo {
    text-decoration: none;
    color: #EBEBEB;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 25px;
    margin: 25px;

}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 150px;
    padding-left: 50px;
    min-height: 40vh;
}

.main-name {
    font-size: 100px;
}

.main-description {
    color: #747474;
}

#about {
    margin-left: 45px;
    margin-top: 200px;
}

#about p {
    box-sizing: border-box;
    width: 100%; 
    max-width: 700px;
    margin-right: 400px;
    margin-bottom: 50px;
    color: #616161;
}

#about span {
    color: #EBEBEB;
}

.about-me {
   font-size: 100px; 
   margin-right: 0;
}

.shadow {
    font-size: 100px;
    font-style: italic;
}

.developed-projects-text {
    font-size: 100px; 
}

#projects {
    margin-left: 45px;
    margin-top: 200px;
}

.video-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}

.video {
    background-color: rgb(19, 19, 19);
    height: 300px;
    border: 1px #2e2e2e solid;
    border-radius: 15px;
    margin: 10px;
    margin-top: 40px;
    width: 15rem;
}

.project-video {
    background-color: #2e2e2e;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 150px;
}

.video-description {
    color: #2e2e2e;
    border-radius: 0 0 15px 15px;
    border-top: 5px #2e2e2e solid;
    width: 100%;
    height: 150px;
}

.video-title {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 800px;
    display: flex;
    align-items: center;
    margin: 20px;
}

.project-description {
    margin: 10px;
    font-size: 14px;
    color: #616161;
}

video {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

#contact {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 45px;
    margin-top: 170px;
}

.contact-text {
    font-size: 100px;
}

.contact-description {
    margin-top: 40px;
    font-size: 17px;
    color: #616161;
}


#contact ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin-top: 50px;
    padding: 0;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131313;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    border: 1px #2e2e2e solid;
    font-size: 15px;
}